{% extends "learning_notes_apps/base.html"%}

{% block page_header %}
  <h2>Topics</h2>
{% endblock page_header %}

{% block content %}
  <h3><a href="{% url 'learning_notes_apps:new_topic' %}">Add a new topic</a></h3>
  {% for topic in topics %}
    <div class="card mb-3">
      <h4 class="card-header">
        <a href="{% url 'learning_notes_apps:topic' topic.id %}">{{ topic }}</a>
      </h4>
    </div>
  {% empty %}
    <p>No topics have been added yet.<p>
  {% endfor %}
{% endblock content %}


